@model Tracs.Common.Models.InvoiceInfoModel

<div class="card border-light mb-3" style="width:20rem;max-width: 15rem;">
    <div class="card-header font-weight-light cardheaderfixed">Invoice Info</div>
    <div class="card-body" style="font-size:small;padding:2px 2px 2px 2px;height:120px;">
        @if (Model == null)
        {
            <span>No Invoice Info available.</span>
        }
        else
        {
            <table>
                <tr>
                    <td class="headerBasic">
                        @Html.DisplayNameFor(model => model.OriginalInvoiceNumber):
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.OriginalInvoiceNumber)
                    </td>
                </tr>
            </table>
        }
    </div>
</div>
